h2{
    text-align: center;
}
img{
    position:absolute;
    width: 1100px;
    height: 374px;
    left: 227px;
    top:100px

}
div{
    position: absolute;
    width: 680px;
    height: 640px;
    left: 419px;
    top: 525px;
    
    font-family: 'Georgia';
    font-style: normal;
    font-weight: 400;
    font-size: 21px;
    line-height: 150.6%;
}
embed{
    position: absolute;
    width: 663px;
    height: 382px;
    left: 419px;
    top: 1211px; 
}
#teja{
    position: absolute;
width: 680px;
height: 95px;
left: 419px;
top: 1635px;

font-family: 'Georgia';
font-style: normal;
font-weight: 400;
font-size: 21px;
line-height: 150.6%;
}
#ram{
    position: absolute;
width: 680px;
height: 95px;
left: 419px;
top: 1849px;

font-family: 'Georgia';
font-style: italic;
font-weight: 400;
font-size: 20px;
line-height: 150.6%;

color: #292929;

}
hr { 
    position: relative;
    overflow: hidden;  
    top: 1870px;
    background-color: gray;
}